<<: !include "../base/hpack/lib.yaml"

name: loot-config

library:
  <<: *lib-common

  dependencies:
    - aeson
    - aeson-better-errors
    - containers
    - data-default
    - fmt
    - loot-base
    - microlens
    - mtl
    - optparse-applicative
    - text
    - unordered-containers
    - validation
    - vinyl

tests:
  loot-base-test:
    <<: *test-common

    dependencies:
      - loot-base
      - loot-config

      - hedgehog
      - tasty
      - tasty-discover
      - tasty-hedgehog
      - tasty-hunit

      - aeson
      - fmt
      - text
      - optparse-applicative
